@page "/"

<PageTitle>DSpico WRFUxxed firmware patcher</PageTitle>

<h1>DSpico WRFUxxed firmware patcher</h1>

<p>Firmware build date: @buildDate</p>
<p>Firmware commit: @firmwareCommit</p>
<p>Bootloader commit: @bootloaderCommit</p>
<p>WRFUxxed commit: @wrfuxxedCommit</p>

<h2>Load WRFU Tester v0.60 (Build Date 20080821) (SHA-1 hash 2d65fb7a0c62a4f08954b98c95f42b804fccfd26)</h2>
<InputFile OnChange="LoadFile" />

<div>@status</div>

<a href="https://github.com/Asaduji/DSpico-firmware-patcher">
    <img class="gh-logo" src="/DSpico-firmware-patcher/img/github-logo.svg" />
</a>

@inject HttpClient Http
@inject IJSRuntime JS
@code {
    private const string VALID_WRFU_HASH = "2d65fb7a0c62a4f08954b98c95f42b804fccfd26";
    private const int WRFU_SIZE = 1033216;
    private const string FIRMWARE_URL = "https://asaduji.github.io/DSpico-auto-firmware-builder/DSpico.uf2";
    private const string HASHES_URL = "https://asaduji.github.io/DSpico-auto-firmware-builder/last_shas.txt";
    private const string BUILD_DATE_URL = "https://asaduji.github.io/DSpico-auto-firmware-builder/build_date.txt";
    private string status = string.Empty;
    private string buildDate = "Unknown";
    private string firmwareCommit = "Unknown";
    private string bootloaderCommit = "Unknown";
    private string wrfuxxedCommit = "Unknown";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var rawHashes = await Http.GetStringAsync(HASHES_URL);

            var hashes = ParseRawHashes(rawHashes);

            if (hashes.ContainsKey("FIRMWARE"))
            {
                firmwareCommit = hashes["FIRMWARE"];
            }

            if (hashes.ContainsKey("BOOTLOADER"))
            {
                bootloaderCommit = hashes["BOOTLOADER"];
            }

            if (hashes.ContainsKey("WRFUXXED"))
            {
                wrfuxxedCommit = hashes["WRFUXXED"];
            }

            buildDate = await Http.GetStringAsync(BUILD_DATE_URL);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private Dictionary<string, string> ParseRawHashes(string rawHashes)
    {
        var dictionary = new Dictionary<string, string>();
        using var stringReader = new StringReader(rawHashes);

        var line = stringReader.ReadLine();

        while (line is not null)
        {
            line = line.Trim();

            if (line.Contains('='))
            {
                var parts = line.Split('=');

                dictionary.TryAdd(parts[0], parts[1]);
            }

            line = stringReader.ReadLine();
        }

        return dictionary;
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        try
        {
            if (e.File.Size != WRFU_SIZE)
            {
                SetStatus($"Invalid size for WRFU Tester 0.60, make sure file SHA-1 is {VALID_WRFU_HASH}");

                return;
            }

            SetStatus("Loading file...");

            var file = e.File;

            using var stream = file.OpenReadStream(WRFU_SIZE);
            using var reader = new StreamReader(stream);
            using var ms = new MemoryStream();

            await stream.CopyToAsync(ms);

            ms.Position = 0;

            var wrfu = ms.ToArray();

            using var sha = SHA1.Create();

            SetStatus("Hashing...");

            var hashBytes = await sha.ComputeHashAsync(ms);

            var wrfuHash = Convert.ToHexString(hashBytes).ToLowerInvariant();

            Console.WriteLine($"WRFU is {wrfu.Length} bytes, SHA-1 {wrfuHash}");

            if (wrfuHash != VALID_WRFU_HASH)
            {
                SetStatus("Invalid WRFU rom!");

                return;
            }

            SetStatus("Valid WRFU rom provided! Patching...");

            var firmware = await Http.GetByteArrayAsync(FIRMWARE_URL);

            var uf2Reader = new UF2Reader();
            uf2Reader.ReadFromBuffer(firmware);
            var uf2Patcher = new UF2Patcher(uf2Reader);

            //Look for the dummy file
            uf2Patcher.PatchWRFU(wrfu);

            var patchedFirmware = uf2Reader.ToBuffer();

            await JS.InvokeVoidAsync(
                "downloadFileFromBytes",
                "DSpico_wrfuxxed.uf2",
                "application/octet-stream",
                 patchedFirmware
            );

            SetStatus("Done");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);

            SetStatus(ex.ToString());
        }
    }

    private void SetStatus(string newStatus)
    {
        status = newStatus;

        StateHasChanged();
    }
}